**Q4. Add a new column 'Passed' that is True if Marks >= 85, else False.**

In [1]:
import pandas as pd

In [2]:
data=pd.DataFrame({'Name': ['Amit', 'Bhavna', 'Chetan'],
'Age': [21, 22, 23],
'Marks': [87, 90, 85]})

In [4]:
data['passed']=data['Marks']>=85

In [6]:
print(data.to_json())

{"Name":{"0":"Amit","1":"Bhavna","2":"Chetan"},"Age":{"0":21,"1":22,"2":23},"Marks":{"0":87,"1":90,"2":85},"passed":{"0":true,"1":true,"2":true}}