**Q3. Print only the 'Name' and 'Marks' columns from the DataFrame.**

In [1]:
import pandas as pd

In [3]:
data=pd.DataFrame({'Name': ['Amit', 'Bhavna', 'Chetan'],
'Age': [21, 22, 23],
'Marks': [87, 90, 85]})

In [5]:
print(data[['Name','Marks']])

     Name  Marks
0    Amit     87
1  Bhavna     90
2  Chetan     85