### ðŸ”¹ Q8. From the below DataFrame, identify missing values and fill them using forward fill for each region.

In [1]:
import pandas as pd
df = pd.DataFrame({
    'Region': ['North', 'North', 'South', 'South', 'South'],
    'Month': ['Jan', 'Feb', 'Jan', 'Feb', 'Mar'],
    'Revenue': [200, None, 150, None, 180]
})

In [3]:
df['Revenue'] = df.groupby('Region')['Revenue'].ffill()

In [4]:
df

  Region Month  Revenue
0  North   Jan    200.0
1  North   Feb    200.0
2  South   Jan    150.0
3  South   Feb    150.0
4  South   Mar    180.0