### ðŸ”¹ Q1. Merge two DataFrames on multiple columns and handle overlapping column names using suffixes.

In [1]:

import pandas as pd

df1 = pd.DataFrame({
    'ID': [101, 102, 103, 104],
    'Department': ['HR', 'Tech', 'Sales', 'Tech'],
    'Score': [90, 85, 75, 88]
})

df2 = pd.DataFrame({
    'ID': [102, 103, 104, 105],
    'Department': ['Tech', 'Sales', 'Tech', 'HR'],
    'Score': [89, 77, 90, 95]
})

In [5]:
merged_df=pd.merge(df1,df2,on=('ID','Department','Score'),how='outer')

In [6]:
merged_df

    ID Department  Score
0  101         HR     90
1  102       Tech     85
2  102       Tech     89
3  103      Sales     75
4  103      Sales     77
5  104       Tech     88
6  104       Tech     90
7  105         HR     95