### ðŸ”¹ Q6. Find employees who are in the top 20% salary bracket within each department.

In [1]:
import pandas as pd
df = pd.DataFrame({
    'Name': ['A', 'B', 'C', 'D', 'E', 'F'],
    'Department': ['HR', 'HR', 'Tech', 'Tech', 'Sales', 'Sales'],
    'Salary': [60000, 65000, 90000, 85000, 70000, 71000]
})

In [11]:
df[df.groupby('Department')['Salary'].rank(pct=True) >= 0.8]

  Name Department  Salary
1    B         HR   65000
2    C       Tech   90000
5    F      Sales   71000