
### ðŸ”¹ Q2. Given a sales DataFrame with datetime index, resample to get quarterly sum of sales.

In [2]:
import pandas as pd
df = pd.DataFrame({
    'Sales': [150, 200, 100, 300, 250, 400],
}, index=pd.to_datetime(['2023-01-15', '2023-02-20', '2023-03-05',
                         '2023-04-10', '2023-05-22', '2023-06-01']))

In [5]:
df.resample('QE').sum()

            Sales
2023-03-31    450
2023-06-30    950