### ðŸ”¸ Q5. Add a Derived Column
Given a DataFrame with a `Price` and `Quantity` column, add a new column called `Total` that multiplies both.

In [2]:
import pandas as pd
df = pd.DataFrame({
    'Item': ['Pen', 'Notebook', 'Eraser'],
    'Price': [10, 50, 5],
    'Quantity': [5, 3, 10]
})

In [4]:
df['Total']=df['Price']*df['Quantity']

In [5]:
df

       Item  Price  Quantity  Total
0       Pen     10         5     50
1  Notebook     50         3    150
2    Eraser      5        10     50