### ðŸ”¸ Q4. GroupBy and Aggregation
Given a DataFrame of employees with `Department` and `Salary`, group by `Department` and calculate:
- Average salary
- Maximum salary

In [2]:
import pandas as pd
df = pd.DataFrame({
    'Employee': ['Raj', 'Mira', 'Ali', 'Sam', 'Nina'],
    'Department': ['HR', 'Tech', 'HR', 'Sales', 'Tech'],
    'Salary': [50000, 75000, 52000, 45000, 78000]
})

In [7]:
df.groupby('Department')['Salary'].mean()

Department
HR       51000.0
Sales    45000.0
Tech     76500.0
Name: Salary, dtype: float64

In [8]:
df.groupby('Department')['Salary'].max()

Department
HR       52000
Sales    45000
Tech     78000
Name: Salary, dtype: int64

In [9]:
df.groupby('Department')['Salary'].agg(['mean', 'max'])

               mean    max
Department
HR          51000.0  52000
Sales       45000.0  45000
Tech        76500.0  78000