### ðŸ”¸ Q9. Extract Year from Date Column
Create a DataFrame with a column `JoinDate` in the format `YYYY-MM-DD`.  
Extract the **year** from each date into a new column called `JoinYear`.

In [23]:
import pandas as pd
df = pd.DataFrame({
    'Name': ['Amit', 'Bhavna', 'Chetan'],
    'JoinDate': ['2020-05-21', '2019-08-01', '2021-01-15']
})

In [24]:
#df['JoinDate'] = pd.to_datetime(df['JoinDate'])
#df['JoinYear'] = df['JoinDate'].dt.year

In [25]:
df['JoinYear'] = df['JoinDate'].str[:4]

In [26]:
df

     Name    JoinDate JoinYear
0    Amit  2020-05-21     2020
1  Bhavna  2019-08-01     2019
2  Chetan  2021-01-15     2021