### ðŸ”¸ Q1. Conditional Row Filtering
Create a DataFrame of students with columns: `Name`, `Age`, and `Marks`.  
Filter only those students who are older than 20 and have marks greater than 80.

In [1]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Amit', 'Bhavna', 'Chetan', 'Divya'],
    'Age': [19, 22, 21, 20],
    'Marks': [75, 88, 92, 70]
})

In [6]:
df[(df['Age']>20) & (df['Marks']>80)]

     Name  Age  Marks
1  Bhavna   22     88
2  Chetan   21     92