### ðŸ”¸ Q6. Rename Columns
Given a DataFrame with columns: `First Name`, `Last Name`, and `Age`, rename them to:
- `first_name`, `last_name`, and `age`

In [1]:
import pandas as pd
df = pd.DataFrame({
    'First Name': ['Amit', 'Bhavna'],
    'Last Name': ['Shah', 'Verma'],
    'Age': [23, 24]
})

In [2]:
df.rename(columns={'First Name': 'first_name', 'Last Name': 'last_name', 'Age': 'age'})

  first_name last_name  age
0       Amit      Shah   23
1     Bhavna     Verma   24