### ðŸ”¸ Q10. Replace Values Based on Condition
Given a DataFrame of exam scores, replace all scores **below 35** with the string `"Fail"` and others with `"Pass"`.

In [7]:

import pandas as pd
df = pd.DataFrame({
    'Student': ['Raj', 'Mira', 'Sam', 'Isha'],
    'Score': [42, 33, 55, 29]
})

In [8]:
df['Result'] = df['Score'].apply(lambda x: 'Fail' if x < 35 else 'Pass')

In [9]:
df

  Student  Score Result
0     Raj     42   Pass
1    Mira     33   Fail
2     Sam     55   Pass
3    Isha     29   Fail