### ðŸ”¸ Q3. Sorting by Multiple Columns
Create a DataFrame with `Name`, `Age`, and `Marks`.  
Sort the DataFrame by **Marks descending**, then **Age ascending**.

In [3]:
import pandas as pd 
df = pd.DataFrame({
    'Name': ['John', 'Alice', 'Bob', 'Daisy'],
    'Age': [23, 21, 23, 20],
    'Marks': [88, 92, 88, 95]
})

In [7]:
df.sort_values(['Marks','Age'],ascending=[False,True])

    Name  Age  Marks
3  Daisy   20     95
1  Alice   21     92
0   John   23     88
2    Bob   23     88